.admin-layout{
    display:flex;
    min-height:100vh;
}

.admin-content{
    flex:1;
    margin-left:280px;
    display:flex;
    flex-direction:column;
}

.dashboard-area{
    padding:25px;
    flex:1;
    background:#f5f7fb;
}

@media(max-width:992px){

.admin-content{
    margin-left:0;
}

}

@media(max-width:768px){

.dashboard-area{
    padding:15px;
}

}