.sidebar {
  width: 280px;
  height: 100vh;
  background: #16191f;
  color: #d6d9df;
  overflow-y: auto;
  border-right: 1px solid #2a2e38;
  padding: 20px 0;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #3b404c;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 22px 20px;
  border-bottom: 1px solid #2b2f39;
}

.logo h2 {
  color: white;
  font-size: 22px;
}

.logoCircle {
  width: 42px;
  height: 42px;
  background: #22c55e;
  color: white;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

.heading {
  color: #8e97a8;
  font-size: 13px;
  font-weight: 600;
  margin: 28px 24px 10px;
}

.sidebar nav a,
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 22px;
  color: #cfd5df;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.sidebar nav a div,
.dropdown div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar nav a {
  gap: 12px;
}

.sidebar nav a:hover,
.dropdown:hover {
  background: #242934;
  color: white;
}

.subMenu {
  margin-left: 42px;
  border-left: 2px solid #2f3644;
}

.subMenu a {
  display: block;
  padding: 10px 18px;
  font-size: 14px;
  color: #98a1b2;
}

.subMenu a:hover {
  color: #1ec8a5;
}

.subMenu a::before {
  content: "•";
  margin-right: 10px;
  color: #00c2a8;
}