
.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 280px;
  height: 100vh;

  background: #171b22;
  color: #fff;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  border-right: 1px solid #2d313b;
}

.logo {
  height: 70px;

  display: flex;
  align-items: center;

  padding: 0 24px;

  font-size: 24px;
  font-weight: 700;

  border-bottom: 1px solid #2d313b;
}

.sidebar nav {
  display: flex;
  flex-direction: column;

  padding: 15px 0;
}

.sidebar nav a {
  display: flex;
  align-items: center;

  gap: 14px;

  padding: 14px 24px;

  color: #c9ced8;
  text-decoration: none;

  transition: .3s;
}

.sidebar nav a svg {
  font-size: 18px;
}

.sidebar nav a:hover {
  background: #252b36;
  color: white;
}

.sidebar nav a.active {
  background: #3563e9;
  color: white;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #3a4350;
}

@media (max-width:992px) {

.sidebar {
    transform: translateX(-100%);
}

}
